.pokemon-grid {
    display: grid;
    gap: 15px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

@media (max-width: 600px) {
    .pokemon-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .pokemon-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}