<div class="selection-bar" *ngIf="selectedService.selectedCount > 0">
    <div class="selected-pokemons">
        <div class="selected-item" *ngFor="let pokemon of selectedService.selected$ | async">
            <img [src]="pokemon.imageUrl" [alt]="pokemon.name" class="thumb">
            <span>{{ pokemon.name | titlecase }}</span>
        </div>
    </div>
    <button class="battle-btn" (click)="startBattle()" [disabled]="selectedService.selectedCount !== 2">
        ¡COMBATIR!
    </button>
</div>